
h1 {display:block}
html {min-width:1088px}
body {background:url(../images/black.png) repeat-x #1d1d1d;position:absolute;font-family:Arial, Helvetica, sans-serif;font-size:100%;line-height:1em;color:#000}
header h1 {position:absolute;left:112px;top:130px}
header h1 a {font:60px/1.2em Arial, Helvetica, sans-serif;color:#fff;text-decoration:none}
.title {position:absolute;left:570px;top:10px}
.form-signin {position:absolute;left:750px;top:300px;color:#fff}
.moon {position:absolute;left:150px;top:150px;}
.btn_signin {position:absolute;width:60px;height:50px;line-height:18px;border:2;} 
.btn_signin2 {position:absolute;width:60px;height:22px;line-height:18px;border:2;} 

footer {left:800px;top:576px;text-align:center;height:129x;overflow:hidden;position:relative;z-index:1；}
footer span {;font:20px/20px Arial, Helvetica, sans-serif;color:#fff;padding-top:37px;display:block}
footer span a {color:#fff}

