
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta property="qc:admins" content="4553322067645776654" />
	<meta name="baidu-site-verification" content="xC1m9aYTgX" />
	<title>Musicworld</title> 
	<link rel="stylesheet" href="http://s.luoo.net/css/essay.css?v2.3.1">
	<link type="image/x-icon" href="http://www.luoo.net/favicon.ico" rel="shortcut icon">	
	<script src="http://s.luoo.net/thirdparty/jquery/jquery-1.11.0.min.js?v2.3.1"></script>
	
		<script src="http://s.luoo.net/js/luoo.js?v2.3.1"></script>
			<script>
	    if( $.luoo.browser()['ie'] && $.luoo.browser()['version'] < 8 )
	    {
	    	window.location.href = 'http://www.luoo.net/browser_not_supported/';
	    }
	</script>
</head>
<body>
		
	<!-- header start -->
	<div class="header">
		<div class="header-ct">
			<a href="#" class="logo">
				<img src="http://4.bp.blogspot.com/-RSW7GpwPaP4/TZFMVLjAyBI/AAAAAAAAAAo/6lFZFqTm0lQ/s45/music-notes.jpg">
			</a>
			<div class="nav">
				<ul class="clearfix">
					<li><a href="http://localhost:8000/musicworld/periodical">Periodicals</a></li>
					<li><a href="http://localhost:8000/musicworld/article/">Articles</a></li>
					<li><a href="http://localhost:8000/musicworld/video/">Videos</a></li>
					<li><a href="http://www.luoo.net/app/">Contact</a></li>				
				</ul>

			</div>
			
				<div class="head-search">
					<form class="search-form" action="http://www.luoo.net/search/" id="headSearchForm">
						<input type="text" class="search-input" name="q" autocomplete="off">
						<button class="search-btn" type="submit">
							<span class="icon-search"></span>
						</button>
					</form>
				</div>			<!-- logged-in-wrapper -->
			<div class="logged-in-wrapper" id="loggedInWrapper">
				
			<script type="text/javascript"> 
function displaySubMenu(li) { 
var subMenu = li.getElementsByTagName("ul")[0]; 
subMenu.style.display = "block"; 
} 
function hideSubMenu(li) { 
var subMenu = li.getElementsByTagName("ul")[0]; 
subMenu.style.display = "none"; 
} 
</script> 
</head> 
<body> 
<ul id="navigation"> 
<li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)"> 
<a href="#">Welcome,{{username}}!</a> 
<ul> 
<li><a href="/musicworld/user">Edit Profile</a></li> 
<li><a href="/musicworld/login">Sign out</a></li> 
</ul>         
</div>
 </a>		
</div>
</div>

			
	</div>
			<!-- logged-out-wrapper -->
		</div>
	</div>
	<!--/// header end -->
	<!-- container start -->
	<div class="container ct-sm">	
		<nav class="article-nav">
			<a href="/musicworld/article" class="nav-back ">
				<i class="icon-back "></i>
				<p class="btn btn-positive rounded">Return to Previous</p>
			</a>
		</nav>
		<div class="essay-detail-wrapper">	
			<h1 class="essay-title">{{article.name}}</h1>
			<p class="essay-meta">
				<span>Posted</span>&#12539;{{article.timestamp}}		</p>
			
			
						<div class="essay-music">
							<div class="vol-tracklist" id="luooPlayerPlaylist">
								<ul>
					
						<li class="track-item rounded" id="track12961">
							<div class="track-wrapper clearfix">							
								<div class="btn-play">
									<span class="btn-control">
										<i class="icon icon-status-play"></i>
										<i class="icon icon-status-pause"></i>
									</span>
									<a href="javascript:;" rel="nofollow" class="trackname">Your Hero</a>
									<div class="artist">Meat Sucks</div>
								</div>
								
								<a href="javascript:;" rel="nofollow" class="icon icon-info" data-sid="12961"></a>
													
								

								<a href="javascript:;" rel="nofollow" class="btn-action-like icon icon-fav" data-id="12961" data-type="single" data-cback="single_like_callback">
								</a>
								<div class="duration">
									<span class="current-time">00:50</span>
									<span>/</span>
									<span class="total-time">05:20</span>
								</div>
							</div>
							<div class="track-detail-wrapper" id="trackDetailWrapper12961">
								<div class="track-detail-arrow">
									<span class="tria-out">
										&#9650;
									</span>
									<span class="tria-in">
										&#9650;
									</span>
								</div>
								<div class="track-detail rounded clearfix">
									<div class="player-wrapper">
										<img src="/media/{{ article.articleimage}}" alt="Your Hero" class="cover rounded">
										<p class="name">Your Hero</p>
										<p class="artist">Artist：Meat Sucks</p>
										<p class="album">Record：Your Hero</p>
										<div class="progress rounded">
											<div class="loaded rounded" style="width: 100%;">
												<div class="escaped rounded" style="width: 0%;"></div>
											</div>							
										</div>
										<div class="duration">
											<span class="current-time">00:00</span>
											<span>/</span>
											<span class="total-time">05:20</span>
										</div>
										<div class="player-btns">
											<a href="javascript:;" rel="nofollow" class="player-btn player-ctl icon icon-detail-play"></a>
											<a href="javascript:;" rel="nofollow" class="rounded player-btn btn-action-like icon icon-fav" data-id="12961" data-type="single" data-cback="single_like_callback"></a>
										</div>
									</div>
									<div class="lyric-wrapper">
										<div class="lyric-content">
										</div>
									</div>
								</div>
							</div>						
							<!--track-detail-wrapper end-->
						</li>
						
							</ul>
							<div>
								<div id="luooPlayerContent"></div>
								<div class="jp-playlist" style="display:none;">
									<ul>
										<li></li>
									</ul>
								</div>
							</div>	
						</div>
					</div>
								
			<div class="essay-content">
				<p ><img alt="" src="/media/{{ article.articleimage}}" style="height:382px; width:620px" /></p>

<p>&nbsp;</p>

<p>{{article.content}}</p>

<p>&nbsp;</p>


			
			<!-- comment-editor end -->
<!-- <a href="http://127.0.0.1:8000/musicworld/{{article.id}}/createcomment/">Make a Comment</a> -->
<!-- <button class="btn btn-positive rounded" id="commentSubmit" data-tipid="commentSubmitDialog" data-remote="http://127.0.0.1:8000/musicworld/{{article.id}}/createcomment/" data-width="235">发布</button> -->
<div>
	<table style="width:100%">
  <tr>
    <td align="center">
    	<a href="/musicworld/article/like/{{article.id}}" >
    		<img src="/static/images/thumbs-up.jpg" class="icon-essay-fav" alt="like">
    	</a>
	</td>
    <td>
    	<p style="color:#0099CC"><b>{{article.likes}}</b> people like this article</p>
    </td>
  </tr>
  <tr>
  	<td>
  		<br>
  	</td>
  	<td>
  		<br>
  	</td>
  </tr>
  <tr>
  	<td align="center">
  		<a href="/musicworld/{{article.id}}/createcomment/">
  			<img src="/static/images/mkcmt.jpg" class="icon-essay-fav" alt="comment">
  		</a>
  	</td>
  	<td >
    	<p style="color:#FF6600">Click to add comments</p>
    </td>
  </tr>
</table>
<br><br>
</div>


			<div class="comment-sort">
				<a class="curt-sort btn btn-positive rounded" id="commentSort" href="javascript:;">
					<span id="commentSortText">Show comments</span>
					<br>
					<span class="comment-count" id="commentCount"></span> 
					<span class="icon icon-comment-sort-menu">
						
					</span>
				</a>
				<div class="sort-menu" id="commentSortMenu">
					<br><br>
					<table style="width:100%">
						{% if comments %}
						{% for comment in comments %}
						<tr >
  								<td>
  									
  									{{ comment.content}}
  									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  								</td>
  								<td align="right" style="width:200px;">
  									{{ comment.timestamp}}<br>
  								</td>

  						</tr>

						{% endfor %}
						{% endif %}
					</table>
				</div>
			</div>	

			<div class="comment-list" id="commentList">
			</div>
		</div>
		<!--/// comment-wrapper end -->
	</div>
	<!--/// container end -->
<script>
	try{
		var pl = "U2FsdGVkX1/pP0Wo4ceUGHqN/mwSaeEhcSf+xlZ9474KzLbvCWYx1tpKFTjhJnla7Rtv5j4XYXZykjSn/G+OhCZMesjwdAP+/kI6Lb2Oiez0zHfuR4jAO6e0ucobC89afYCU81UjlhFY9Wemu44ujp6CPU2ESgSm+cnA8cIl46MhXwUG6clb8z3dGpC1RMpQ7oa3tlcLsfYyPcpX4IJcJ2O8Lj4pHc0Q/M7RRfpQ/CdIOQSHU0cN41+antpU6rF1KTXhwd50vs5bC9AeTONKv80IkWrCpegqjpZl8YQTFBDoADrQITC+iGh4FuRfuCiV";
		var luooPlayer;
		var log_int;	
	}catch(e){}
	$(function(){
		$('#commentList')
		.data({app:"2", id:"430", url: "http://www.luoo.net/comment/get", commid: "0"})
		.getComments();

		init_player();

		setTimeout(function(){ $.luoo.get($.luoo.root+'/essay/counter/430'); }, 30000);
	})

function essay_like_callback(json, obj)
{
	obj.data('disabled', false);

	if( json.status === -1 )
	{
		obj.data({
			remote: url('login/dialog'),
			width: 235
		});
		var tip = obj.tip();
		tip.set('events.hide', function(evt, api){
			api.destroy();
			$.luoo.destroy_tip(api.id);
		})
		$.luoo.tip.push(tip);
	}
	else if( json.status === 1 )
	{					
		obj.children('span').removeClass('icon-essay-fav').addClass('icon-essay-faved').attr('title', obj.data('langliked'));
	}
	else if( json.status === 2 )
	{
		obj.children('span').removeClass('icon-essay-faved').addClass('icon-essay-fav').attr('title', obj.data('langliked'));
	}
	else if( json.msg )
	{
		$.luoo.tip( json.msg );
	}
}
</script>
<script src="http://s.luoo.net/js/comment.js?v2.3.1"></script>



<img src="http://s.luoo.net/img/loading_W.gif" style="display:none;">
<script>
	$.luoo.init({root: 'http://www.luoo.net', url_static: 'http://s.luoo.net', res: {"app":{"vol":1,"essay":2,"single":3,"users":4,"comment":5,"lyric":6,"note":7,"ios":8,"android":9,"wp":10,"event":11,"livehouse":12,"app_ad":13,"musician":14},"uid":null,"sessid":"ac13qjmss2veo5is32isb8op35"}, cfg: {"auto_play":true,"aes":"b6ce159334e155d8"}});
	$('#txtFeedbackRef').val(document.location.href);
</script>

<script src="http://s.luoo.net/thirdparty/artDialog/jquery.artDialog.js?v2.3.1"></script>
<script src="http://s.luoo.net/thirdparty/jquery.qtip/jquery.qtip.min.js?v2.3.1"></script>
<script src="http://s.luoo.net/thirdparty/jquery.cookie/jquery.cookie.js?v2.3.1"></script>
<!--[if lt IE 9]>
<script src="http://s.luoo.net/thirdparty/pie/PIE_IE678.js"></script>
<script>
$(function(){
	if (window.PIE) {
        $('.rounded,.page').each(function() {
            try{
            	PIE.attach(this);
            }catch(e){}
        });
    }
})
</script>
<![endif]-->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Feece890fdea2bf26f412df6ae59b8a9a' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5478298-1']);
  _gaq.push(['_setDomainName', 'luoo.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>