<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<meta charset="UTF-8">
	<meta property="qc:admins" content="4553322067645776654" />
	<meta name="baidu-site-verification" content="xC1m9aYTgX" />
	<title>MusicWorld</title> 
	
	<link rel="stylesheet" href="http://s.luoo.net/css/essay.css?v2.3.1">
</head>
<body>
		
	<!-- header start -->
	<div class="header">
		<div class="header-ct">
			<a href="http://localhost:8000/musicworld/index" class="logo">
				<img src="http://4.bp.blogspot.com/-RSW7GpwPaP4/TZFMVLjAyBI/AAAAAAAAAAo/6lFZFqTm0lQ/s45/music-notes.jpg">
			</a>
			<div class="nav">
				<ul class="clearfix">
					<li><a href="http://localhost:8000/musicworld/periodical">Periodicals</a></li>
					<li><a href="http://localhost:8000/musicworld/article/">Articles</a></li>
					<li><a href="http://localhost:8000/musicworld/video/">Videos</a></li>
					<li><a href="http://localhost:8000/musicworld/contact/">Contact</a></li>			

				</ul>

			</div>
			
				<div class="head-search">
					<form class="search-form" action="http://www.luoo.net/search/" id="headSearchForm">
						<input type="text" class="search-input" name="q" autocomplete="off">
						<button class="search-btn" type="submit">
							<span class="icon-search"></span>
						</button>
					</form>
				</div>			<!-- logged-in-wrapper -->
		</div>	





			
	</div>
	<!--/// header end -->	
	
	
	<!-- container start -->
	<div class="container index-ct">	
		
		<div class="video">
		<iframe align="center" class="video1" title="YouTube video player" width="640" height="390" src="http://www.youtube.com/embed/oRdxUFDoQe0" frameborder="0" allowfullscreen></iframe>
		<br/>
		<br/>
		<iframe class="video2" title="YouTube video player" width="640" height="390" src="http://www.youtube.com/embed/kHue-HaXXzg" frameborder="0" allowfullscreen></iframe>
		<br/>
		<br/>
		<iframe class="video3" title="YouTube video player" width="640" height="390" src="http://www.youtube.com/embed/bESGLojNYSo" frameborder="0" allowfullscreen></iframe>
	    <br/>
	    <br/>
	    <iframe class="video4" title="YouTube video player" width="640" height="390" src="http://www.youtube.com/embed/G3G6fh6zBFc" frameborder="0" allowfullscreen></iframe>
	    </div>		
	</div>	

<div class="footer">
	<div class="foot-ct clearfix">
		<div class="about-wrapper">
			<h3 class="foot-item-head">created by group b</h3>
			
		</div>
	</div>
</div>

</body>
</html>